USE [master]
GO
/****** Object:  Database [cesme]    Script Date: 25.04.2025 09:21:42 ******/
CREATE DATABASE [cesme]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cesme', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cesme.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cesme_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cesme_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cesme].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cesme]
GO
/****** Object:  User [halid]    Script Date: 25.04.2025 09:21:43 ******/
CREATE USER [halid] FOR LOGIN [halid] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Bakimlar]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bakimlar](
	[BakimID] [int] IDENTITY(1,1) NOT NULL,
	[CesmeID] [int] NOT NULL,
	[BakimTarihi] [date] NOT NULL,
	[BakimAciklama] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BakimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cesmeler]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cesmeler](
	[CesmeID] [int] IDENTITY(1,1) NOT NULL,
	[CesmeAdi] [varchar](100) NOT NULL,
	[KoyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CesmeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CesmeSuKaynak]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CesmeSuKaynak](
	[CesmeID] [int] NOT NULL,
	[KaynakID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CesmeID] ASC,
	[KaynakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[IlceID] [int] IDENTITY(1,1) NOT NULL,
	[IlceAdi] [varchar](100) NOT NULL,
	[ilID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IlceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iller]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iller](
	[ilID] [int] NOT NULL,
	[ilAdi] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Iller] PRIMARY KEY CLUSTERED 
(
	[ilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Koyler]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Koyler](
	[KoyID] [int] IDENTITY(1,1) NOT NULL,
	[KoyAdi] [varchar](100) NOT NULL,
	[IlceID] [int] NOT NULL,
	[Nufus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KoyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullanimDurumu]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullanimDurumu](
	[DurumID] [int] IDENTITY(1,1) NOT NULL,
	[CesmeID] [int] NOT NULL,
	[Durum] [varchar](10) NOT NULL,
	[SonKullanimTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DurumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muhtarlar]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muhtarlar](
	[MuhtarID] [int] IDENTITY(1,1) NOT NULL,
	[MuhtarAdi] [varchar](100) NOT NULL,
	[Telefon] [varchar](15) NULL,
	[KoyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MuhtarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sikayetler]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sikayetler](
	[SikayetID] [int] IDENTITY(1,1) NOT NULL,
	[CesmeID] [int] NOT NULL,
	[SikayetTarihi] [date] NOT NULL,
	[SikayetDetay] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SikayetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuKaynagi]    Script Date: 25.04.2025 09:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuKaynagi](
	[KaynakID] [int] IDENTITY(1,1) NOT NULL,
	[KaynakAdi] [varchar](100) NOT NULL,
	[SuTuru] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KaynakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bakimlar]  WITH CHECK ADD FOREIGN KEY([CesmeID])
REFERENCES [dbo].[Cesmeler] ([CesmeID])
GO
ALTER TABLE [dbo].[Cesmeler]  WITH CHECK ADD FOREIGN KEY([KoyID])
REFERENCES [dbo].[Koyler] ([KoyID])
GO
ALTER TABLE [dbo].[CesmeSuKaynak]  WITH CHECK ADD FOREIGN KEY([CesmeID])
REFERENCES [dbo].[Cesmeler] ([CesmeID])
GO
ALTER TABLE [dbo].[CesmeSuKaynak]  WITH CHECK ADD FOREIGN KEY([KaynakID])
REFERENCES [dbo].[SuKaynagi] ([KaynakID])
GO
ALTER TABLE [dbo].[Ilceler]  WITH CHECK ADD  CONSTRAINT [FK_Ilceler_Iller] FOREIGN KEY([ilID])
REFERENCES [dbo].[Iller] ([ilID])
GO
ALTER TABLE [dbo].[Ilceler] CHECK CONSTRAINT [FK_Ilceler_Iller]
GO
ALTER TABLE [dbo].[Koyler]  WITH CHECK ADD FOREIGN KEY([IlceID])
REFERENCES [dbo].[Ilceler] ([IlceID])
GO
ALTER TABLE [dbo].[KullanimDurumu]  WITH CHECK ADD FOREIGN KEY([CesmeID])
REFERENCES [dbo].[Cesmeler] ([CesmeID])
GO
ALTER TABLE [dbo].[Muhtarlar]  WITH CHECK ADD FOREIGN KEY([KoyID])
REFERENCES [dbo].[Koyler] ([KoyID])
GO
ALTER TABLE [dbo].[Sikayetler]  WITH CHECK ADD FOREIGN KEY([CesmeID])
REFERENCES [dbo].[Cesmeler] ([CesmeID])
GO
USE [master]
GO
